

.letestMoviesWrapper {
        margin-top: 20px;
        margin-bottom: 30px;

        .see-more {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            background-color: var(--color-bg-variant);

            .see-more.btn {
                margin-right: 30px;
            }
        
            .btn {
                background-color: var(--color-primary);
                margin: 5px;
                &:hover {
                    color: var(--color-bg);
                    background-color: white;
                }
            }
        }
        
        h3 {
            color: var(--color-primary);
            font-size: 20px;
            margin: 13px;
            margin-left: 30px;
            
            .span {
                border-left: 4px solid skyblue;
                padding-right: 10px;
            }
        }
    }

.letest-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    .movies-container {
        padding: 15px;
        width: 260px;
        cursor: pointer;
        
    
        img {
            height: 300px;
        }
    }
}


.movies-img {
    width: 100%;
}
