.header {
    width: 100vw;
    

    .header-container {
        padding-left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
        background-color: var(--color-bg-variant);

        input[type=text] {
            width: 190px;
            height: 40px;
            padding: 10px;
            color: var(--color-bg);
            border: 1px solid var(--color-bg);
            border-radius: 5px;
            transition: var(--transition);
            &:hover ;
{
                background: transparent;

            }
        }
    }
}