.header {
    width: 100vw;
    

    .header-container {
        padding-left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
        background-color: var(--color-bg-variant);

        input[type=text] {
            width: 190px;
            height: 40px;
            border: 1px solid var(--color-bg);
            border-radius: 5;
            -webkit-border-radius: 5;
            -moz-border-radius: 5;
            -ms-border-radius: 5;
            -o-border-radius: 5;
}
    }
}