.last-entries-container {

    .l-e-date {
        display: flex;
        flex-direction: column;

        h3 {
            margin-left: 50%;
        }
    }

    .l-e-item {
        display: flex;
    }
}