.last-entries-container {

    .l-e-date {
        display: flex;
        flex-direction: column;
        margin-right: 25px;

        .date {
            text-align: center;
        }
    }

    .l-e-item {
        display: flex;
    }
}