.last-entries-container {

    .l-e-date {
        display: grid;
        grid-template-columns: 1fr;

        h
    }

    .l-e-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}