.last-entries-container {

    .l-e-date {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-top: 25px;
        color: rgba(255, 0, 0, 0.664);
        fz

        .date {
            text-align: center;
        }
    }

    .l-e-item {
        display: flex;
    }
}