.last-entries-container {

    .l-e-item {
        display: flex;
        border-bottom: 1px solid rgba(139, 139, 139, 0.582);
        padding-bottom: 10px;

        &:last-child {
            
        }

        .l-e-date {
            display: flex;
            flex-direction: column;
            margin-right: 25px;
            margin-top: 25px;
            color: rgba(255, 0, 0, 0.664);
            font-size: 17px;
    
            .date {
                text-align: center;
            }
        }
    }
}