.swiper-slider-div {
    .slider-item {
        padding: 5px;
        cursor: pointer;
        transition: var(--transition);


        &:hover {
            opacity: 0.7;
        }
    }

   
}

.swiper-button-prev  {
       top: 40%;
   }
    {
       top: 40%;
   }