.slider-container {
    width: 100%;

    .swiper-container {
        width: 60%;
    }

    .slider {
        text-align: center;
        padding: 15px;
        user-select: none;

        .slider-img {
            overflow: hidden;
            margin: 0 auto;
            
        }
    }

    .swiper-pagination-clickable {
        
        .swiper-pagination-bullet {
            background: red;
            padding-bottom: -30px;
        }
    }
    
}