
.slider-container{
    // width: 100%;
    // position: relative;

    .slider-item {
        // width: 75%;
        // overflow: hidden;
        // margin: 0 auto;
        // position: relative;
        width: 900px;
        height: 300px;
        margin: 0 auto;

        img,.slider-content{
            // max-width: fit-content;
            // margin: 0 auto;
        }

        .slider-content {
            text-align: center;
            // padding-top: 0;
        }
    }
    .slider-img {
        // width: 900px;
        // height: 300px;
        // margin: 0 auto;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
            background-color: skyblue;
        }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 49px;
            left: 0;
            width: 100%;
        }
}

