.slider-container {
    width: 100%;

    .swiper-container {
        width: 60%;
    }

    .slider {
        text-align: center;
        p
        user-select: none;

        .slider-img {
            overflow: hidden;
            margin: 0 auto;
            
        }
    }

    
}