.categories-container {
    margin-top: 25px;

    h3 {
        border-bottom: 1px solid var(--color-bg-variant);
        padding-bottom: 5px;
        text-align: center;
        color: burlywood;
    }

    .categories-list {
        width: 100%;
    }

    .categories-title {
        width: ;
        color: burlywood;
        font-size: 12px;
        display: grid;
        padding: 10px;
        border-bottom: 1px solid var(--color-bg-variant);
        transition: var(--transition);

        
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        &:hover {
            color: var(--color-primary-variant);
        }
    }

}