.categories-container {
    margin-top: 25px;
    color: burlywood;

    h3 {
        border-bottom: 1px solid var(--color-bg-variant);
        padding-bottom: 5px;
        text-align: center;
    }

    .categories-title {
        color: ;
    }
}